// IMPORTS
@import '_normalize';
@import '_boilerplate';

// Delete Me
.page {
  border-bottom: 5px solid maroon;
}

// VARIBLES
$header_height: 60px;
// ICONS
.icon_linkedin {background: url('../img/icon_linkedin.svg') no-repeat}
html {
  margin: 0;
  padding: 0;
}

a, a:visited,  {
  color: #000;
}


#nav {
  width: 100%;
  height: $header_height;
}

header {
  height: $header_height;
  z-index: 999;
  background: lightblue;
  opacity: 0.9;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  nav{
    width: 100%;
    max-width: 1050px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    .logo {

    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      background: coral;
      height: 100%;
      a{
        padding: 0 20px;
        float: left;
        height: 100%;
        display: block;
        text-decoration: none;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-bottom: 2px solid rgba(0,0,0,0);
        &:hover {
          border-bottom-color: #fff;
        }
        li {
          color: #fff;
          font-size: 18px;
          margin-bottom: -2px;
        }
      }
    }
    .social {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      a{
        height: 32px;
        width: 32px;
        display: block;
        span {
          height: 100%;
          width: 100%;
          display: block;
          color: #fff;
        }
      }
    }
  }
}

main section {
  box-sizing: border-box;
  width: 90%;
  max-width: 1050px;
}
section:not(#intro) {
  width: 100%;
  margin: 0 auto;
  background: pink;
  padding: 10px;
  border-bottom: 2px solid blue;
}

#intro {
  height: 100vh;
  background: honeydew;
  padding: 10px;
  padding-bottom: $header_height + 10px;
}

#mini-skills {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  .col {
    max-width: 350px;
    width: 100%;
    min-width: 300px;
    margin: 0 20px;
    padding: 15px;
    margin-top: 20px;
    background: Green;
    min-height: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
    .icon {
      display: block;
    }
    .title {
      display: block;
    }
    p {
      text-align: center;
    }
  }
}
